.metadata-container[data-property-count="1"]:has(.metadata-property[data-property-key="zoom"]) {
    display: var(--metadata-visibility, initial) !important;
}

.cm-sizer {
    zoom: var(--note-zoom-level) !important;
}

.cm-fat-cursor {
    font-size: var(--note-zoom-level-fontsize) !important
}